# deps
node_modules
target

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo
.turbo
dist

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sst
.sst

# Windows Zone.Identifier metadata from downloaded files
*.Zone.Identifier

# opennext
.open-next

build_logs

tsconfig.tsbuildinfo
__pycache__

_site