# deps
node_modules

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo
.turbo
dist

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sst
.sst
sst-env.d.ts
sst.pyi

# opennext
.open-next

# flatc
build_logs

.claude